---
layout: default
title: Caribbean
class: caribbean
weight: 3
---

<div class="page-head">
 <h1 class="white-title">Caribbean</h1>
</div>

<div id="caribbean" class="main">

  <div id="page-content" class="clearfix">

    <div class="content-intro">
      <p>Where better to enjoy life in the slow lane? Some of the most-photographed islands in the world lie here in this paradise region, where sitting on the beach with a rum cocktail by your side is the order of the day. Take a Caribbean cruise and enjoy fresh cuisine, orange sunsets and a balmy year-round climate. There’s plenty to keep active types happy too, with everything from snorkelling to jungle safaris, island tours, zip-lining and live volcano tours on the menu.</p>
    </div>

    <div class="location-slider">

      <ul class="bxslider">
        <li><img src="images/slider-caribbean-1.jpg" /></li>
        <li><img src="images/slider-caribbean-2.jpg" /></li>
        <li><img src="images/slider-caribbean-3.jpg" /></li>
        <li><img src="images/slider-caribbean-4.jpg" /></li>
        <li><img src="images/slider-caribbean-5.jpg" /></li>
      </ul>

    </div>

  </div>


  {% include offer-section.html %}

  {% include seoffer-section.html %}

  {% include price-guarantee.html %}


</div>