---
layout: default
title: Far East & Asia
class: far-east-and-asia
weight: 4
---

<div class="page-head">
 <h1 class="white-title">Far East & Asia</h1>
</div>

<div id="far-east-and-asia" class="main">



  <div id="page-content" class="clearfix">

    <div class="content-intro">
      <p>Sail through turquoise waters on an exotic cruise of Southeast Asia. Not only is this a culturally fascinating region, its staggering natural beauty is impossible to forget. Many cruise itineraries start in Bangkok or Singapore, both must-see destinations, and give you a taste of countries including Indonesia, Malaysia, Vietnam and Thailand’s famously idyllic beaches. It’s a great opportunity to extend your cruise with book-end hotel stays too.</p>
    </div>

    <div class="location-slider">

      <ul class="bxslider">
        <li><img src="images/slider-far-east-and-asia-1.jpg" /></li>
        <li><img src="images/slider-far-east-and-asia-2.jpg" /></li>
        <li><img src="images/slider-far-east-and-asia-3.jpg" /></li>
      </ul>

    </div>

  </div>


  {% include offer-section.html %}

  {% include seoffer-section.html %}

  {% include price-guarantee.html %}


</div>