---
layout: default
title: Luxury
class: luxury
weight: 7
---

<div class="page-head">
 <h1 class="white-title">Luxury</h1>
</div>

<div id="luxury" class="main">



  <div id="page-content" class="clearfix">

    <div class="content-intro">
      <p>Sail in style on a ultra-luxury cruise. Usually smaller ships, these exclusive voyages offer an intimate ambiance on board, while giving passengers a huge amount of space. You can look forward to every fine detail being taken care of, with a higher staff-to-guest ratio, eclectic itineraries and superlative shore excursions. Opt for a 6* Ultra Luxury cruise for the ultimate in high-end cruising.</p>
    </div>

    <div class="location-slider">

      <ul class="bxslider">
        <li><img src="images/slider-luxury-1.jpg" /></li>
        <li><img src="images/slider-luxury-2.jpg" /></li>
        <li><img src="images/slider-luxury-3.jpg" /></li>
        <li><img src="images/slider-luxury-4.jpg" /></li>
        <li><img src="images/slider-luxury-5.jpg" /></li>
      </ul>

    </div>

  </div>


  {% include offer-section.html %}

  {% include seoffer-section.html %}

  {% include price-guarantee.html %}


</div>