---
layout: default
title: Mediterranean
class: mediterranean
weight: 2
---

<div class="page-head">
 <h1 class="white-title">Mediterranean</h1>
</div>

<div id="mediterranean" class="main">

  <div id="page-content" class="clearfix">

    <div class="content-intro">
      <p>A Mediterranean cruise is the perfect introduction if you’re new to this type of holiday. It’s also a great choice if you’re planning a short break, and with many departing from Southampton, there’s no need to fly to meet the ship. Visit fascinating destinations in Spain, Italy, France, Croatia, Greece, Turkey and more, with an enticing combination of culture and beaches on offer.</p>
    </div>

    <div class="location-slider">

      <ul class="bxslider">
        <li><img src="images/slider-mediterranean-1.jpg" /></li>
        <li><img src="images/slider-mediterranean-2.jpg" /></li>
        <li><img src="images/slider-mediterranean-3.jpg" /></li>
        <li><img src="images/slider-mediterranean-4.jpg" /></li>
        <li><img src="images/slider-mediterranean-5.jpg" /></li>
      </ul>

    </div>

  </div>

  {% include offer-section.html %}

  {% include seoffer-section.html %}

  {% include price-guarantee.html %}

</div>