---
layout: default
title: Exclusive Offers
class: offers
weight: 8
---

<div class="page-head">
  <h1 class="white-title">Offers</h1>
</div>

<div id="offers" class="main">

  <a id="link-image-offers-banner" href="http://www.planetcruise.co.uk/cruise-deals?referrersiteid=970"><img class="banner" src="images/banner-generic.jpg" alt=""></a>

  {% include cruiseliners-section.html %}

  <div class="se-offers-section">
    <h1 class="white-title">Secret Escapes Offers</h1>
  </div>

  <div class="page-offers">
    <ul class="clearfix">

    <!-- shows all se-offers by price -->
    {% assign seoffers = site.seoffers | sort: 'price' %}
    {% for seoffer in seoffers %}
      {% include seoffer-block.html %}
    {% endfor %}

    </ul>
  </div>


  {% include price-guarantee.html %}


</div>