---
layout: default
title: River Cruises
class: river
weight: 5
---

<div class="page-head">
 <h1 class="white-title">{{ page.title }}</h1>
</div>

<div id="river" class="main">

  <div id="page-content" class="clearfix">

    <div class="content-intro">
      <p>Explore the beautiful waterways of Europe and beyond on a captivating river cruise. From the vineyards and chateaux of Bordeaux to intrepid adventures on the mighty Mekong, you can see an array of destinations, with overnights in port and guided excursions. A brilliant way to discover new places, with every luxury provided from start to finish.</p>
    </div>

    <div class="location-slider">

      <ul class="bxslider">
        <li><img src="images/slider-river-01.jpg" /></li>
        <li><img src="images/slider-river-02.jpg" /></li>
        <li><img src="images/slider-river-03.jpg" /></li>
        <li><img src="images/slider-river-04.jpg" /></li>
        <li><img src="images/slider-river-05.jpg" /></li>
      </ul>

    </div>

  </div>

  {% include offer-section.html %}

  {% include seoffer-section.html %}

  {% include price-guarantee.html %}

</div>