<li id="offer-{{ offer.title | slugify }}" class="offer">
  <a href="{{ offer.link }}" >
    <div class="offer__image">
      <div class="offer__button">View Offer</div>
      <img src="images/offers/{{ offer.title | slugify }}.jpg" alt="{{ offer.title }}">
    </div>
    <div class="offer__content">
      <h3 class="offer__title">{{ offer.title }}</h3>
      <p class="offer__details">
        <span>{{ offer.nights }} nights</span><span>{{ offer.date | date_to_long_string }}</span><span>{{ offer.cruiseline }}</span>
      </p>
      <p class="offer__description">{{ offer.description }}</p>
    </div>
    <div class="offer__bottom">
      <p>From <span class="offer__price">£{{ offer.price }}pp</span></p>
    </div>
  </a>
</li>