<div style="margin-top: 44px;">
  <a id="brouchure-link-bottom-page" href="http://www.planetcruise.co.uk/asia-brochure?utm_medium=referral&utm_source=secret-escapes&utm_campaign=website-EO"><img src="images/banner-asia.jpg" alt=""></a>
</div>

<div id="footer" class="clearfix">

  <div class="best-price-logo">
    <img src="images/logo-best-price.png">
  </div>

  <div class="get-in-touch">
    <h3>Get in touch <span>023 9280 0331</span></h3>
    <p>*In the unlikely event that we can't match the price, we will give you a £20 voucher off the next cruise you book with us.</p>
  </div>

  <div class="social-proof-logos">
    <ul class="clearfix">
      <li><img src="images/logo-abta.png"></li>
      <li><img src="images/logo-atol.png"></li>
    </ul>
  </div>

</div>
