<div id="footer" class="clearfix">

  <div class="best-price-logo">
    <img src="images/logo-best-price.png">
  </div>

  <div class="get-in-touch">
    <h3>Get in touch <span>0173 071 0867</span></h3>
    <p>*In the unlikely event that we can't match the price, we will give you a £20 voucher off the next cruise you book with us.</p>
  </div>

  <div class="social-proof-logos">
    <ul class="clearfix">
      <li><img src="images/logo-abta.png"></li>
      <li><img src="images/logo-atol.png"></li>
    </ul>
  </div>

</div>