<li id="se-offer-{{ seoffer.title | slugify }}" class="offer">
  <a href="{{ seoffer.link }}" >
    <div class="offer__image">
      <div class="offer__button">View Offer</div>
      <img src="images/se-offers/{{ seoffer.title | slugify }}.jpg" alt="{{ seoffer.title }}">
    </div>
    <div class="offer__content">
      <h3 class="offer__title">{{ seoffer.title }}</h3>
      <!-- <p style="font-size: 3em;">{{ seoffer.title | slugify }}</p> -->
      <p>{{ seoffer.description }}</p>
    </div>
    <div class="offer__bottom">
      <p>From <span class="offer__price">£{{ seoffer.price }}</span>  {{ seoffer.price-description }}</p>
    </div>
  </a>
</li>