// global variables & useful tools


// -------- colors --------

// EXAMPLES
// $secret-escapes-orange: #ff8c00;
// $secret-escapes-blue: #007f9a;


// -------- breakpoints --------

$xxlarge: 1000px;
$xlarge: 850px;
$large: 650px;
$medium: 450px;
$small: 300px;

@mixin bp($width){
  @if $width == xxlarge{
    @media (min-width:$xxlarge) {@content;}
  }
  @if $width == xlarge{
    @media (min-width:$xlarge) {@content;}
  }
  @if $width == large{
    @media (min-width:$large) {@content;}
  }
  @if $width == medium{
    @media (min-width:$medium) {@content;}
  }
  @if $width == small{
    @media (min-width:$small) {@content;}
  }
}


// -------- global box-sizing & font smoothing --------

*,*:after,*:before {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;}


// -------- responsive images --------

img{
  height: auto;
  max-width:100%;
  vertical-align:bottom;}


// -------- text link style --------

a{
  color: inherit;
  text-decoration:none;}
a:hover{
  text-decoration: underline;}


// -------- enable 100% height --------

body, html {
  height: 100%;
}


// -------- general transition --------

@mixin transition() {
  transition: all .25s ease;
}


// -------- z-index values --------

// EXAMPLES
// $z-site-header: 5;
// $z-site-content: 0;