// layouts for all sections, using susy grid plugin

// -------- general --------

$susy:(
  columns: 12,
  container: 100%,
  global-box-sizing: border-box,
  gutters: 1.250em / 4.063em,
);


// -------- grid sections --------

.row{
  @include container();
}

.row + .row{
  padding-top: 2em;
}

.column + .column{
  margin-top: gutter();
  @include bp(large){
    margin-top: 0;
  }
}

// -------- two col grid mixin --------
// creates different two column grids, based on a 12 column grid
// two equal coloumns would be 6-6. one third and a two third coloumn would be 4-8
@mixin two-column-grid($col1, $col2) {
  & > .column{
    @include span($col1);
  }
  & > .column + .column{
    @include span(last $col2);
  }
}

// defining column ratios
@include bp(large){
  .columns-4-8 {@include two-column-grid(4,8);}
  .columns-5-7 {@include two-column-grid(5,7);}
  .columns-6-6 {@include two-column-grid(6,6);}
  .columns-7-5 {@include two-column-grid(7,5);}
  .columns-8-4 {@include two-column-grid(8,4);}
}

// -------- equal three col grid --------
.columns-4-4-4 {
  .column{
    margin-bottom: gutter();
    @include bp(large){
      @include gallery(4);
    }
  }
}