// general typographic styles


// GENERAL SIZES SHOULD BE CUSTOMISED TO EACH SITE


// -------- root typography styles --------

$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$headline-font-family: 'Slabo 27px', 'Helvetica Neue', sans-serif;

html{
  font-size:62.5%;
}
body,
input, textarea, keygen, select, button {
  font:300 14px/1.66 $main-font-family;
  letter-spacing: 0.025em;
  @include bp (medium){
    font-size: 16px;
  }
  @include bp (large){
    font-size: 17px;
    line-height: 1.6;
  }
  @include bp (xxlarge){
    font-size: 18px;
    line-height: 1.7;
  }
}


// -------- Headings --------

h1, .h1{
  font-family: $headline-font-family;
  line-height: 1.05;
  font-size: 3em;
  margin-bottom: 0.2em;
  letter-spacing: -0.015em;
  @include bp (medium){
    font-size: 3.5em;
  }
  @include bp (large){
    font-size: 4.5em;
  }
}

h2, .h2{
  font-family: $headline-font-family;
  font-size: 2.5em;
  line-height: 1.25;
  margin-bottom: 0.5em;
  @include bp (medium){
    font-size: 3.25em;
  }
}

h3, .h3{
  font-family: $headline-font-family;
  font-size: 1.8em;
  margin-bottom: 0.5em;
  @include bp (medium){
    font-size: 2.2em;
  }
}

h4, .h4{
  font-size: 1.15em;
}


// -------- General --------

em{
  font-style: italic;
}

strong{
  font-weight: 600;
}

p, ul, ol{
  text-align: left;
}

ul, ol{
  li{
    list-style-position: inside;
  }
}

ul li{
  list-style-type: disc;
}

ol li{
  list-style-type: decimal;
}

hr{
  height: 1px;
  margin: 1em 0;
  padding: 0px;
}